<nav>
  <div id="logo">
    <h2><a [routerLink]="'/'">WhereToEat</a></h2>
  </div>
  <div id="nav-container">
    <ul>
      <li>
        <a [routerLink]="'/'">Home</a>
      </li>
      <li>
        <a href="#">Add Review</a>
      </li>
      <li>
        <a [routerLink]="'/restaurants/smth'">Restaurants</a>
      </li>
      <li>
        <a [routerLink]="" (click)="openDialog()">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <ul>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Our Team</a>
    </li>
    <li>
      <a href="#">Terms and Policies</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
  <div id="copyright">© 2019 WhereToEat. All Rights Reserved</div>
</footer>
