@import "../../../../styles.scss";

nav {
  position: fixed;
  top: 0;
  height: 78px;
  width: 100%;
  background-color: white;
  color: $blue-dark;
  letter-spacing: 0.1em;
  font-family: 'Solway', serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

  #logo {
    position: absolute;
    height: 32px;
    left: 4%;
    top: 22px;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
  }
    #logo a {
      color: $blue-dark;
    }

  #nav-container {
    position: absolute;
    right: 2%;
    top: 26px;
    width: 80%;
  }

    #nav-container ul{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      font-size: 18px;
      line-height: 22px;
    }

    #nav-container li {
      padding-right: 4.5%;
      white-space: nowrap;
    }

    #nav-container a {
      color: $blue-dark;
    }

    #nav-container a:hover {
      color: $blue-light;
    }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  color: $blue-light;
  background-color: $blue-dark;
}

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  footer li {
    margin: 25px 2% 1% 2%;
  }

  #copyright{
    width: 100%;
    text-align: center;
    padding-top: 1.2rem;
    font-size: 0.8rem;
  }
  footer a {
    color: $blue-light;
  }

  footer a:hover {
    color: white;
  }



