@import url('https://fonts.googleapis.com/css?family=Lato|Solway&display=swap');

$blue-dark: #223843;
$red-accent: #F65F55;
$yellow-accent: #F2E863;
$blue-light: #C7E8F3;
$grey-light: #F7F6F6;

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

 body {
   position: absolute;
   height: 100%;
   width: 100%;
 }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Solway', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
}
a:link {
   color:inherit;
}

.heading {
  width: 100%;
  color: white;
  background-color: $blue-dark;
  text-align: center;
  padding-top: 20px;
}

.btn-red {
  color: white;
  background-color: $red-accent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 40px;
  font-family: Solway, serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
